<section class="section" id="pricing">
    <div class="container text-center">
        <p class="section-subtitle">Education</p>
        <h6 class="section-title mb-6">My Scools</h6>
        <!-- row -->
        <div class="pricing-wrapper">
            <div class="pricing-card" *ngFor="let temp of schollCard">
                <div class="pricing-card-header">
                    <img class="pricing-card-icon" src="assets/imgs/startup.svg">
                </div>
                <div class="pricing-card-body">
                    <h6 class="pricing-card-title">{{temp.name}} </h6>
                    <h6 class="pricing-card-title">{{temp.year}} </h6>
                    <div class="pricing-card-list">
                        <p><strong>{{temp.department}} </strong></p>
                        <p>{{temp.discription}} </p>
                    </div>
                </div>
                <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Detail</a>
            </div>


        </div><!-- end of pricing wrapper -->
    </div> <!-- end of container -->
</section><!-- end of pricing section -->