<!-- footer -->
<div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy;
            Serhat Bülbül
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="javascript:void(0)" class="link"><i class="fa-brands fa-facebook"></i></a>
            <a href="javascript:void(0)" class="link"><i class="fa-brands fa-twitter"></i></a>
            <a href="javascript:void(0)" class="link"><i class="fa-brands fa-google"></i></a>
            <a href="javascript:void(0)" class="link"><i class="fa-brands fa-pinterest"></i></a>
            <a href="javascript:void(0)" class="link"><i class="fa-brands fa-instagram"></i></a>
            <a href="javascript:void(0)" class="link"><i class="fa-solid fa-rss"></i></a>
        </div>
    </footer>
</div> <!-- end of page footer -->