<!-- footer -->
<div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy;
            Serhat Bülbül
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="https://www.facebook.com/" target="_blank" class="link"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/serhatblb" target="_blank" class="link"><i
                    class="fa-brands fa-twitter"></i></a>
            <a href="https://www.google.com/" target="_blank" class="link"><i class="fa-brands fa-google"></i></a>
            <a href="https://tr.pinterest.com/" target="_blank" class="link"><i class="fa-brands fa-pinterest"></i></a>
            <a href="https://www.instagram.com/serhatblb/" target="_blank" class="link"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/serhatbulbul/" target="_blank" class="link"><i
                    class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>
</div> <!-- end of page footer -->