<!-- about section -->
<section class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="../../assets/imgs/serhatpp (1).jpg" class="about-img">
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me</h2>
                <p>
                    <strong>Hi I'm Serhat Bülbül</strong> I am a Computer Engineer with roots in Dental Prosthetic
                    Technology education. The experiences I gained at different stages of my education not only enhanced
                    my technical skills but also enriched my perspective. My journey, which began with Dental Prosthetic
                    Technology, evolved into a broader view through my undergraduate studies in Computer Engineering.
                </p>
                <p>This transition directed me towards not just a technical but also a creative and solution-oriented
                    mindset. Committed to the principle of lifelong learning, I have dedicated myself to continuously
                    improving to be effective in the rapidly changing world of technology. I hold an approach of
                    learning and applying, enabling me to constantly adapt to evolving technological trends.</p>
                <p>
                    Previous experiences provided me with an opportunity to work as a junior backend developer for a
                    period, allowing me to gain knowledge in technologies like Python and Django. After completing my
                    military service, I decided to further my skills in the field of web development. Currently, I
                    possess both frontend and backend development skills and can quickly adapt to new technologies.
                </p>
                <p>
                    I am currently seeking an opportunity to work as a web developer or to be trained in a new field. I
                    am excited about contributing to innovative projects, acquiring new skills, and being part of a
                    team. I eagerly look forward to contributing to the success of your company in its dynamic and
                    innovative environment while also contributing to my personal growth. <br><br>
                    Thank you, and I hope we can find an opportunity to work together.
                </p>
                <a class="btn-rounded btn btn-outline-primary mt-4" href="../serhat_cv_kariyer.pdf"
                    target="_blank">Download CV </a>
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section> <!-- end of about section -->