<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
    <div class="navbar-content">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img [src]="navBar.logo.logoPicture" height="30" alt="Logo" loading="lazy" class="rounded-1" />
        </a>
        <ul class="nav-links">
            <li class="nav-item"></li>

            <li *ngFor="let temp of navBar.navbar" class="nav-item">
                <a class="nav-link" href="{{ temp.link }}">
                    {{ temp.name | titlecase }}
                </a>
            </li>
        </ul>
    </div>
    <!-- Right elements -->
    <div class="d-flex align-items-center">


        <!-- Login Register -->
        <!-- Eğer kullanıcı sisteme giriş yapmışsa Login/Register Görünmesin -->
        <!-- <ng-container *ngIf="navBar.isLogin; then loggedInd; else loggedOut">
        </ng-container> -->

        <!-- Eğer login:true ise Kullanıcı bigileri -->
        <!-- <ng-template #loggedInd class="d-flex align-items-end">
            <div class="dropdown dropleft me-2">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                    alt="Black and White Portrait of a Man" loading="lazy" id="triggerId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" />
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="#">My profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </ng-template> -->

        <!-- Eğer login:false ise login/register görünsün -->
        <!-- <ng-template #loggedOut>
            <div class="btn-group">
                <button class="btn btn-link dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="triggerId">
                    <a class="dropdown-item" routerLink="/login">Login</a>
                    <a class="dropdown-item" routerLink="/register">Register</a>
                    <a class="dropdown-item" href="#">Exit</a>
                </div>
            </div>
        </ng-template> -->


        <a href="/login">
            <button type="button" style="color: black" class="btn btn-link me-2">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </button>
        </a>

        <a href="/register">
            <button type="button" style="color: black" class="btn btn-link">
                <i class="fa-regular fa-registered"></i>
                Register</button>
        </a>



        <!-- Dark Mode -->
        <!-- 
        Eğer Atrributes ise [class] [href] etc => []
        Eğer Event ise (click)="denemeEvent()"
        click
        dblclick
        -->

    </div>
    <!-- Right elements -->

</nav>