<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
    <div class="navbar-content">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img [src]="navBar.logo.logoPicture" height="30" alt="Logo" loading="lazy" class="rounded-1" />
        </a>
        <ul class="nav-links">
            <li class="nav-item"></li>

            <li *ngFor="let temp of navBar.navbar" class="nav-item">
                <a class="nav-link" href="{{ temp.link }}">
                    {{ temp.name | titlecase }}
                </a>
            </li>
        </ul>
    </div>
</nav>