<section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">What I Did ?</p>
        <h6 class="section-title mb-6">Certificates</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-4" *ngFor="let temp of certificaCard">
                <a href="#" class="portfolio-card">
                    <!-- <img class="card-img-top" [src]="temp.img" alt="Title" /> -->
                    <img [src]="temp.img" class="portfolio-card-img" alt="tt">

                    <span class="portfolio-card-overlay">
                        <p style="font-weight: bold; text-align: left;">Certifica No: {{temp.id}}</p>

                        <span class="portfolio-card-caption">
                            <h4>{{temp.title}} </h4>
                            <p class="font-weight-normal">Category: {{temp.fields}} </p>
                        </span>
                    </span>
                </a>
            </div>

        </div><!-- end of row -->
    </div><!-- end of container -->
</section> <!-- end of portfolio section -->